.navbar {
  overflow: hidden;
  background-color: #1f1f33;
  font-family: Verdana, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(0, 145, 255);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e2eefe;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Style the tab content */
.portfolio_tabcontent {
  display: none;
  border-top: none;
}

/*Timeline*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

.timeline-section {
  float: left;
  margin-top: 50px
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #22272e;
  border: 3px solid #f6f7f9;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* The actual timeline content */
.timeline-content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

.typewriter {
  color:#0000;
  background:
    linear-gradient(-90deg,#0000 0px,#0000 0) 10px 0,
    linear-gradient(#f6f7f9 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation:
    b .0s infinite steps(1),
    t calc(var(--n)*.03s) steps(var(--n)) forwards;
}

/*Muted*/
.muted {
  margin-top: 10px;
  color: #abb3bf;
}

.flex-col {
  display: flex;
  flex-direction: column;

  .gap {
    gap: 20px;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn-outline-light {
  border-color: #f8f9fa;
  color: #f8f9fa;
}

.btn-outline-light:hover {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  background-color: transparent;
  color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #212529;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}